p,
h1,
h2,
h3,
h4,
a {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;600;800&display=swap");

.sc-exchange-Exchange {
  display: flex;
  padding: 20px 30px;
  box-sizing: border-box;
  // justify-content: space-between;
  font-family: "Nunito Sans", sans-serif;

  h3 {
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 14px;
  }

  &__blob-yellow {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 60%;
    height: 60%;
  }

  &__blob-orange {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    width: 40%;
    height: 70%;
  }

  &__container {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    position: relative;
    flex: 1;
    padding: 40px;
    box-sizing: border-box;
    height: calc(100vh - 40px);
    background: rgba(255, 255, 255, 0.88);
    box-shadow: 0 2px 37px 0 rgba(129, 129, 129, 0.5);
    border-radius: 50px;
  }

  &__top-container {
    padding-bottom: 0px;
  }

  &__content-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    max-height: 100%;
    position: relative;
  }

  &__middle {
    display: flex;
    flex-direction: column;
    flex: 3;
    justify-content: space-between;
    padding: 0 40px;
    margin: 0 40px;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
  }

  &__left {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__right {
    display: flex;
    flex: 1;
    // margin-left: auto;
  }
}
