.sc-exchange-Assets {
  &__asset {
    display: flex;
    justify-content: flex-start;
    padding: 15px 5px;
    border-bottom: 1px solid #ffbc0059;
  }

  &__icon-logo {
    width: 36px;
    margin-right: 15px;
  }

  &__name-short {
    // font-size: 16px;
    font-weight: bold;
  }

  &__name {
    // font-size: 16px;
    font-weight: 200;
  }

  &__asset-value {
    text-align: right;
    font-weight: 200;
    margin-left: auto;
  }
}
