.sc-exchange-Dexes {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: scroll;

  &__dex {
    display: flex;
    justify-content: space-between;
    padding: 15px 5px;
    border-bottom: 1px solid #ffbc0059;
    min-width: 240px;
  }

  &__icon-container {
    max-height: 38px;
    width: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
  }

  &__icon-logo {
    width: 36px;
    height: 36px;
    object-fit: contain;
  }

  &__dex-icon-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 140px;
  }

  &__dex-info {
    // margin-right: auto;
  }

  &__dex-name {
    // font-size: 16px;
    font-weight: 600;
  }

  &__liquidity {
    // font-size: 16px;
    font-weight: 200;
  }

  &__gas-info {
    text-align: right;
    min-width: 60px;
  }

  &__gas {
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 2px;
  }

  &__fee-difference {
    display: flex;
    align-items: center;
    font-size: 13px;
  }
}
